# LLM dependencies
langchain==0.1.5
langchain-community==0.0.17
# llama-cpp-python>=0.2.38
# auto-gptq>=0.4.2,<0.5.0
auto-gptq==0.3.2
accelerate>=0.20.3
chromadb>=0.3.0,<0.4.0
huggingface_hub>=0.20.3
# InstructorEmbedding>=1.0.1,<2.0.0
sentence-transformers==2.2.2
transformers>=4.37.2
openai>=1.11.1
openai-whisper==20231117

# General dependencies
typing-extensions>=4.4.0,<5.0.0
python-dotenv>=0.19.2
typer[all]>=0.9.0,<1.0.0
tqdm>=4.64.1,<5.0.0
rich>=13.0.1
requests==2.31.0
optimum>=1.12.0
deepmerge>=1.1.0,<2.0.0
# pydantic==1.10.12
pyyaml>=6.0
pytubefix==1.12.0
feedparser==6.0.10
music-tag=*
# Document Loaders
# extract-msg>=0.41.0,<0.42.0
# pandoc>=2.3,<3.0.0
# pypandoc>=1.11,<2.0.0
# pdfminer.six==20221105
# unstructured>=0.6.0,<0.7.0

# Temporary fix for `rich`, `numpy` version conflicts.
# argilla==1.8.0
# numpy==1.23.5

# Install package from setup.py in --editable mode (development)
# -e .
