astroid==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
autoflake==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
black==24.2.0 ; python_version >= "3.10" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
deptry==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.10" and python_version < "3.12"
distlib==0.3.8 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "3.12"
identify==2.5.35 ; python_version >= "3.10" and python_version < "3.12"
isort==5.13.2 ; python_version >= "3.10" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.2.0 ; python_version >= "3.10" and python_version < "3.12"
pre-commit==3.6.2 ; python_version >= "3.10" and python_version < "3.12"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
pylint==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools==69.1.1 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.12.4 ; python_version >= "3.10" and python_version < "3.12"
tuna==0.5.11 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.10.0 ; python_version >= "3.10" and python_version < "3.11"
virtualenv==20.25.1 ; python_version >= "3.10" and python_version < "3.12"
